<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <title>Skrapr Dashboard</title>
    <script type="text/javascript" src="/Components/head.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/Styles/styles.min.css" />
    <link rel="stylesheet" type="text/css" href="/dashboard/dashboard.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300" rel="stylesheet" type="text/css">
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
</head>
    <body ng-app="ngSkraprDashboard" data-ng-cloak="">
        <div id="app-container" data-ng-controller="DashboardCtrl">
            <div id="primary-navbar">
                <div class="navbar">
                    <div class="burger" data-ng-click="toggleMinimized()">
                        <i class="fa fa-bars fa-2x"></i>
                    </div>

                    <nav id="main_navigation">

                        <ul id="nav-links" class="nav">

                            <li data-nav-name="Projects" class="active">
                                <a data-ui-sref="Projects">
                                    <i class="fa fa-list fa-lg"></i>
                                    Projects
                                </a>
                            </li>

                            <li data-nav-name="Active Skraprs">
                                <a data-ui-sref="ActiveTasks">
                                    <i class="fa fa-tasks fa-lg"></i>
                                    Active Tasks
                                </a>
                            </li>
                            
                            <li data-nav-name="Log">
                                <a data-ui-sref="Log">
                                    <i class="fa fa-exchange fa-lg"></i>
                                    Log
                                </a>
                            </li>

                            <li data-nav-name="Account">
                                <a data-ui-sref="Account">
                                    <i class="fa fa-user fa-lg"></i>
                                    Account
                                </a>
                            </li>

                            <li data-nav-name="Support">
                                <a data-ui-sref="Support">
                                    <i class="fa fa-life-ring fa-lg"></i>
                                    Support
                                </a>
                            </li>


                            <li data-nav-name="documentation">
                                <a href="http://docs.skrapr.io/" target="_blank">
                                    <i class="fa fa-book fa-lg"></i>
                                    Documentation
                                </a>
                            </li>
                        </ul>

                        <div id="bottom-links">
                            <ul id="bottom-nav-links" class="nav"></ul>
                        </div>

                        <div id="footer-links">
                            <div class="brand-container">
                                <a class="brand" href="#">
                                    <div class="icon"></div>
                                </a>
                            </div>

                            <ul id="footer-nav-links" class="nav">
                                <li>
                                    <a class="btn btn-link" data-ng-click="signOut()">
                                        Logout
                                        <span class="username">
                                            {{auth.profile.nickname}}
                                            <span class="cluster">
                                            </span>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <div id="dashboard" class="container-fluid one-pane" data-ui-view="dashboard" data-ng-style="getDashboardStyle()"></div>
        </div>
        <script type="text/javascript" src="/Components/components.min.js"></script>
        <script src="//cdn.auth0.com/w2/auth0-widget-5.2.min.js"></script>
        <script src="//cdn.auth0.com/w2/auth0-angular-2.2.js"></script>
        <script type="text/javascript" src="/dashboard/dashboard.js"></script>
    </body>
</html>