<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="Skrapr_Auth0_ClientId" value="--Id--"/>
  <add key="Skrapr_Auth0_Secret" value="--Secret--"/>
  <add key="Skrapr_Auth0_Domain" value="--Domain--"/>
  <add key="Skrapr_CouchDB" value="--url--"/>
  <add key="Skrapr_AWS_Region" value="--Region--"/>
  <add key="Skrapr_S3_Blobs" value="--S3 Url Here--" />
  <add key="Skrapr_WebWorker_AccessKeyId" value="--id--" />
  <add key="Skrapr_WebWorker_SecretAccessKey" value="--secret--" />
  <add key="Skrapr_WebWorker_Url_Queue" value="--queue url--"/>
</appSettings>