<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" data-ui-sref="Home"><b>Skrapr</b></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <!-- Profile links for extra small screens -->
                <li class="visible-xs"><a data-ui-sref="SignIn">Sign In</a></li>
                <li class="visible-xs"><a href="#">Sign Out</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right hidden-xs">
                <li><a data-ui-sref="AboutUs">About Us</a></li>
                <!-- Sign in & Sign up -->
                <li id="sign-up" data-ng-if="!auth.isAuthenticated"><a class="btn btn-link" data-ng-click="signUp()">Sign Up</a></li>
                <li id="sign-in" data-ng-if="!auth.isAuthenticated"><a class="btn btn-link" data-ng-click="signIn()">Sign In</a></li>
                <!-- Signed in. Profile Menu -->
                <li class="dropdown" data-ng-if="auth.isAuthenticated" data-ng-cloak="">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{auth.profile.nickname}}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <div style="margin: 10px;">
                                <div style="float:left"><img data-ng-src="{{auth.profile.picture}}" width="50" alt="Photo"/></div>
                                <p><b>{{auth.profile.name}}</b><br />{{auth.profile.email}}</p>
                                <p><div class="btn btn-primary" data-ng-click="dashboard()">Dashboard</div></p>
                                <p><a data-ui-sref="ManageProfile">Profile</a> | <a data-ng-click="signOut()" style="cursor: pointer;">Sign out</a></p>
                                <div class="clearfix"></div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>